<div class="post-container">
  <h3 class="post-title"><%= post.title %></h3>
  <strong>
    <%= link_to post.user.username, user_path(post) %>
  </strong>
  <div class="post-img-container">
    <%= image_tag post.image.url(:medium) %>
  </div>
  <div class="post-date">
    <%= post.date_posted %>
  </div>
  <div class="post-desc">
    <%= post.description %>
  </div>
</div>